html, body{
    height: 100%;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,Arial,"Noto Sans", "Liberation Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex:1;
    margin: 70px;
}

.header{
    position: fixed;
    margin:0;
    width: 100%;
    background-color: rgb(63, 192, 149);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav{
    width: min(95%);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;

}
.links{
    display: flex;
    text-decoration: none;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding:0;
    ;
}

.links a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 10px;
    border-radius: 7px;
    color: rgb(0, 0, 0);
}
.links a:hover{
    background-color: rgb(137, 188, 171);
}

.hero{
    width: min(700px,);
    margin: 24px;
    padding: 48px 16px;
    background: linear-gradient(180deg, #34b68d, #ffffff);
    border-radius: 15px;
}

.hero h1{
    margin: 0 0 8px 0;
    font-size: 40px;
    text-align: center;
}
.hero p{
    margin-top: 0;
    text-align: center;
    
}

.section{
    width: min(1100px,);
    margin-top: 32px;
    padding:13px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
}

.card{
    background: var(--card);
    border: 7px solid rgb(0, 0, 0);
    border-radius: 12px;
    padding: 15px;
}

.card .ph{
    width: 100%;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 12px;

}

.site-footer{
    background-color: black;
    color: azure;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;

}

.contenido-footer{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

}
.contacte a{
    text-decoration: none;
    color: azure;
}


.xarxes{
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}
.xarxes a{
    color: rgb(243, 243, 243);
    text-decoration: none;
}